
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}


/* BASIC SETTUP */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

p {
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 10px;
}

.header_title {
	width: 100%;
	font-size: 29px;
	color: #222;
	text-align: center;
	font-weight: bold;
}

.header_text {
	font-weight: 500;
	color: #333;
	text-align: left;
}


/* header section start */

.header_section {
	background: #eee;
	width: 100%;
	padding-bottom: 30px;
}

.header_section .graphics {
	width: 280px;
	margin-left: auto;
}

.header_section .header_title {
	width: 100%;
	font-size: 40px;
	color: #222;
	text-align: center;
	font-weight: bold;
}

.header_section .header_text {
	font-weight: 500;
	color: #333;
}

.header_section .font-weight-bold {
	font-size: 20px;
	font-weight: 700;
}


/* end header section start */


/* start about us section start */

.about_us {
	background: #eee;
	width: 100%;
	padding-bottom: 40px;
}

.about_us .graphics {
	width: 15%;
	text-align: center;
	margin-left: 42.5%;
	margin-right: 42.5%;
}

.about_us .modal_of {
	margin-top: 40px;
	padding-top: 40px;
	padding-left: 13%;
}

.about_us .modal_img {
	width: 37px;
	height: 43px;
	cursor: pointer;
}

.about_us .modal_of .learn-more {
	font-size: 21px;
	line-height: 14px;
}

.about_us .marqueee marquee {
	font-size: 23px;
	color: #f5f5f5 !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0;
	line-height: 0;
}

.title h3 {
	font-weight: 300;
	font-size: 25px;
	margin-top: 25px;
	color: #3C4858;
}

.modal-dialog .modal-content {
	-webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	border: none;
	background: #eee !important;
}

.modal-dialog .modal-content p {
	color: #000 !important;
	font-weight: 500;
}

.modal-dialog .modal-header {
	border-bottom: none;
	padding-top: 23px;
	padding-right: 24px;
	padding-bottom: 0;
	padding-left: 24px;
}

.modal-dialog .modal-header .modal-title {
	font-size: 17px;
	font-weight: 300;
	color: #3C4858;
	margin-bottom: 0;
	margin-top: 10px;
	line-height: 1.5;
}

.modal-dialog .modal-body {
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	color: #3C4858;
}

.modal .modal-header .close i {
	font-size: 16px;
	color: #999;
}

.modal-dialog .modal-footer {
	border-top: none;
	padding: 24px !important;
}

.modal-dialog .modal-body+.modal-footer {
	padding-top: 0 !important;
}

.modal-dialog .modal-footer button {
	margin: 0 !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	width: auto;
}

.modal-dialog .modal-content .card-signup .modal-header {
	padding-top: 0;
}

.card .card-title {
	color: #fff;
	font-size: 18px !important;
	font-weight: 700 !important;
	font-family: Roboto Slab, Times New Roman, serif;
	margin-top: 10px;
}

.card .card-header {
	border-radius: 3px !important;
	padding: 1rem 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -30px;
	border: 0;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
}

.card .card-header-primary {
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
	background: -o-linear-gradient(30deg, #ab47bc, #7b1fa2);
	background: linear-gradient(60deg, #ab47bc, #7b1fa2)
}

.card-plain .card-body {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.card .card-body {
	padding: 15px;
}

.card form {
	margin: 0;
}

.modal-dialog .modal-body {
	padding: 13px 24px 16px;
}

.modal-dialog .modal-footer button {
	color: #fff;
	margin: 0;
	padding-left: 16px;
	padding-right: 16px;
	width: auto;
	border: none;
	text-decoration: none;
}

.modal-dialog .modal-footer button a {
	text-decoration: none;
	color: #fff !important;
}


/* end of about us */


/* start of download area */

.download_area {
	text-align: center;
	background: #eee;
	padding: 40px 0;
}

.download_area h4 {
	font-weight: 700;
	font-size: 26px;
	margin: 10px 0;
	text-align: left;
}

.download_area .download_button {
	background: #f5f5f5;
	font-size: 15px;
	padding: 13px 25px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-box-shadow: 2px 3px 16px #b5a8a8;
	box-shadow: 2px 3px 16px #b5a8a8;
	float: right;
}


/* end of download area */


/*start of test area */

.test_area {
	text-align: center;
	background: #000;
	padding: 40px 0;
}

.test_area .test ul li {
	display: inline-block !important;
}

.test_area .test ul li img {
	width: 37px;
	margin: 20px 10px;
}


/*end of test area */


/* start of footr area */

footer {
	background: #eee;
	text-align: right;
	color: #000;
	padding: 22px 0;
}

footer .copyright_area {
	padding-right: 20px;
}

footer .copyright_area a p {
	color: #000;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
}

footer .font-weight-bold {
	font-size: 13px;
}


/* end of footer area */


/*responsive css*/

@media only screen and (max-width: 768px) {
	.header_section .graphics_parent {
		margin: auto !important;
	}
	.header_section .graphics {
		margin-left: 0 !important;
	}
	.about_us .modal_of .flex-row {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		text-align: center !important;
	}
	.about_us p {
		text-align: center !important;
	}
	.about_us .modal_of {
		padding-left: 0 !important;
	}
	.download_area .download_button {
		float: none !important;
	}
}

@media only screen and (max-width: 576px) {
	.header_title {
		font-size: 17px;
	}
	.header_section .font-weight-bold {
		font-size: 15px;
	}
	p {
		font-size: 12px;
	}
}
